<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="aboutUser">
      <h1>
        Hörmətli istifadəçi, <br />
        Əgər online növbə götürmüsünüzsə, aşağıdakı <br />
        məlumatları gör'ə klik edərək məlumatlarınızı görə bilərsiniz
      </h1>
      <h2>Əks halda məlumatlarınızın görünməyi üçün növbə götürün</h2>
      <div class="bttn">
        <button
          class="btn"
          mat-raised-button
          color="primary"
          (click)="getdata()"
        >
          məlumatları gör
        </button>
        <button
          class="btn"
          mat-raised-button
          color="primary"
          (click)="goToQueue()"
        >
          Növbə götür
        </button>
      </div>
    </div>
  </body>
</html>
