@import 'ngx-toastr/toastr';
body {
  margin: 20px;
}
.demo-inline-calendar-card {
  width: 300px;
}
:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.form {
  display: flex;
  gap: 50px;
}
.registerButton{
  text-align: center;
  margin: 10px;
}
.registerBtn {
  text-decoration: none;
  width: 25%;
}
.form1{
  display: flex;
  gap:10px
}
.form2{
   display: flex;
  gap:10px
}
@media (max-width:500px) {
  body {
    margin: 20px;
  }
  .demo-inline-calendar-card {
    width: 200px;
  }
  :host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .form {
    display: flex;
    gap: 50px;
  }
  .registerButton{
    text-align: center;
    margin: 10px;
  }
  .registerBtn {
    text-decoration: none;
    width: 25%;
  }
  .form1{
  display: flex;
  flex-direction: column;
  gap:10px
}
.form2{
   display: flex;
   flex-direction: column;
  gap:10px
}
input{
  width: 50%;
}
.radioButtons{
  display: flex;
  flex-direction: column;
}
}
